# General Settings
DEBUG=false

# NVA (Norwegian Research Information System)
NVA_BASE_URL=https://api.nva.unit.no/
NVA_DUCKDB_FILE_NAME=nva_sync
NVA_INSTITUTION_CODE=7511.0.0.0
NVA_ACCESS_KEY=
NVA_SECRET_KEY=
NVA_ENDPOINT=
NVA_BUCKET=
NVA_PREFIX=nva
NVA_REGION=us-east-1
NVA_RESOURCES_DATA_S3_PATH=
NVA_FILTER_STORAGE_ENDPOINT_URL=
NVA_FILTER_STORAGE_ACCESS_KEY=
NVA_FILTER_STORAGE_SECRET_KEY=
NVA_FILTER_STORAGE_BUCKET=
NVA_FILTER_STORAGE_PREFIX=nva-filtered
NVA_FILTER_STORAGE_REGION=us-east-1
NVA_FILTER_PATH_PARQUET_OUTPUT=
NVA_ATLANTIC_SALMON_STORAGE_ACCESS_KEY=
NVA_ATLANTIC_SALMON_STORAGE_SECRET_KEY=
NVA_ATLANTIC_SALMON_STORAGE_BUCKET=
NVA_ATLANTIC_SALMON_STORAGE_PREFIX=
NVA_ATLANTIC_SALMON_STORAGE_ENDPOINT_URL=

# IPT (Integrated Publishing Toolkit)
IPT_URL=https://ipt.nina.no
IPT_CACHE_PATH=.dwca_cache/
IPT_GEOAPI_PUBLISH_URL=
IPT_OGC_RECORDS_PUBLISH_URL=
IPT_AWS_BUCKET=
IPT_AWS_SECRET_KEY=
IPT_AWS_ENDPOINT_URL=
IPT_AWS_ACCESS_KEY=
IPT_DMS_PROJECT_ID=911200

# DMS (Data Management System)
DMS_DATASETS_BASE=
DMS_ACCESS_KEY=
DMS_SECRET_KEY=
DMS_AWS_ENDPOINT=
DMS_BUCKET=
DMS_GEOAPI_PREFIX=/geoapi/
DMS_OGC_RECORDS_PUBLISH_URL=
DMS_GEOAPI_PUBLISH_URL=
DMS_API_URL=
DMS_TOKEN=

# UBW
UBW_BASE_URL=
UBW_BASIC_AUTH=
UBW_ACCESS_KEY=
UBW_SECRET_KEY=
UBW_AWS_ENDPOINT=
UBW_BUCKET=
UBW_PREFIX=

# Publishing/Geoapi
PUBLISH_USER=
PUBLISH_PASSWORD=

# Biomark PIT system
BIOMARK_API_EMAIL=
BIOMARK_API_PWD=
BIOMARK_BASE_URL=https://data3.biomark.com/api/v1/
BIOMARK_AWS_ENDPOINT=
BIOMARK_BUCKET=
BIOMARK_ACCESS_KEY=
BIOMARK_SECRET_KEY=
BIOMARK_PREFIX=tables
BIOMARK_REGION=us-east-1
BIOMARK_DUCKDB_PATH=biomark_pit_registering_salmon_v1.duckdb
BIOMARK_DATASET_NAME=main

# GBIF Backbone
GBIF_BACKBONE_DUCKDB_FILE_NAME=gbif_backbone.duckdb
GBIF_BACKBONE_URL=https://hosted-datasets.gbif.org/datasets/backbone/current/backbone.zip

# Services (Infrastructure as Code)
SERVICES_AWS_BUCKET=
SERVICES_AWS_ENDPOINT=
SERVICES_AWS_ACCESS_KEY=
SERVICES_AWS_SECRET_KEY=
SERVICES_REPO=
SERVICES_ORG=ninanor
SERVICES_STORAGE_PREFIX=/dms/tables
GIT_USERNAME=
GIT_TOKEN=
